<p id="notice"><%= notice %></p>

<h1>Curated list of users on r/CanadaGun</h1>

<table class="table">
  <thead>
    <tr>
      <th>Reddit profile link</th>
      <th>Club</th>
      <th>Greater region</th>
      <th>Specific city</th>
      <th>Province</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><a href="https://www.reddit.com/user/<%= user.reddit_username %>"><%= user.reddit_username %></a></td>
        <td><%= user.club %></td>
        <td><%= user.greater_region %></td>
        <td><%= user.specific_city %></td>
        <td><%= user.province %></td>
        <td><%= user.notes %></td>
        <td><%= link_to 'Show', user %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>
