<p id="notice"><%= notice %></p>

<h1>Curated list of users on r/CanadaGun</h1>

<table class="table">
  <thead>
    <tr>
      <th>Reddit profile link</th>
      <th class="is-hidden-mobile">Club</th>
      <th class="is-hidden-mobile">Greater region</th>
      <th class="is-hidden-mobile">Specific city</th>
      <th class="is-hidden-mobile">Province</th>
      <th class="is-hidden-mobile">Notes</th>
      <th class="is-hidden-mobile">License*</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><a href="https://www.reddit.com/user/<%= user.reddit_username %>"><%= user.reddit_username %></a></td>
        <td class="is-hidden-mobile"><%= user.club %></td>
        <td class="is-hidden-mobile"><%= user.greater_region %></td>
        <td class="is-hidden-mobile"><%= user.specific_city %></td>
        <td class="is-hidden-mobile"><%= user.province %></td>
        <td class="is-hidden-mobile"><%= user.notes %></td>
        <td class="is-hidden-mobile"><%= user.licensed%></td>
        <td><%= link_to 'Show', user %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>
