<p id="notice"><%= notice %></p>

<h1 class="title">users</h1>

<%= simple_form_for :user, url: root_path, method: "GET", local: true do |f| %>
    

  <div class="control">
    <div class="select">

      <%= f.input :club, as: :select, 
        collection: User.all.collect { |u| u.club}.uniq, required: false , wrapper: false, label: "Club"%>
      <%= f.input :province, as: :select, 
        collection: User.all.collect { |u| u.province}.uniq, required: false , wrapper: false, label: "Province"%>
      <%= f.input :greater_region, as: :select, 
        collection: User.all.collect { |u| u.greater_region}.uniq, required: false , wrapper: false, label: "Greater Region"%>
      <%= f.input :specific_city, as: :select, 
        collection: User.all.collect { |u| u.specific_city}.uniq, required: false , wrapper: false, label: "City"%>
      <%= f.input :notes,  required: false , wrapper: false, label: "Keyword in member's notes"%>
      

    </div>
  </div>
  <br>
  <div class="control">
    <%= f.submit "Search", class: "button is-primary"%>
  </div>
<% end %>

<% if @users && @users.empty?%>
  <p>Sorry, we cannot find a user of your choosing. Please try another options.</p>
<%elsif @users%>
  <%= render 'results' %>
<%else %>
  <p>Please select at least one option</p>
<%end%>
