<p id="notice"><%= notice %></p>

<p>
  <strong>Reddit username:</strong>
  <a href="https://www.reddit.com/user/<%= @user.reddit_username %>"><%= @user.reddit_username %></a>
</p>

<p>
  <strong>Club:</strong>
  <%= @user.club %>
</p>

<p>
  <strong>Greater region:</strong>
  <%= @user.greater_region %>
</p>

<p>
  <strong>Specific city:</strong>
  <%= @user.specific_city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @user.province %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @user.notes %>
</p>

<%= link_to 'Back', users_path %>
